<nav class="navbar header-top fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav animate side-nav">
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#" title="Cart"> <i class="fas fa-cart-plus"></i><span class="ttip">Add Cart</span></a>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#" title="Comment"> <i class="fas fa-comment"></i><span class="ttip">Chat</span></a>-->
      <!--      </li>-->
    </ul>
    <ul class="navbar-nav ml-md-auto d-md-flex">
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>-->
      <!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" (click)="info()"><i title="show shortcuts" class="fa fa-info"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i title="log out" class="fa fa-sign-out"></i></a>
      </li>
    </ul>
  </a>
</nav>
